<ul class="media-list">
  <% topics.each do |topic| %>
    <li class="media">
      <div class="media-left">
        <p>位</p></ br>
        <span class="badge badge-pill badge-primary">話題数</span>
      </div>
      <div class="media-body">
        <div>
          <span class="text-muted">posted at <%= topic.created_at %> by <%= topic.user.name %></span>
        </div>
        <div class="text-center">
          <h2><%= link_to topic.content, topic_path(topic)%></h2>
        </div>
        <div>
          ポスト
        </div>
      
      </div>
    </li>
  <% end %>
  
  <%= paginate topics %>
</ul>