<div id="logos-container ">
  <div class="left">
    
  </div>
  <div class="center">
  <%= render 'topics/topics', topics: @topics %>
  </div>
  <div class="right">
  <%= render 'layouts/explanation' %>
  </div>

</div>
