/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { 
  padding-top: 70px;
  font-family: Meiryo;
  color: #636363;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
footer {
  background-color: #345281;
  color: #f2f2f2;
  height: 40px;
  clear: both;
  position: relative;
  margin-top: auto;
}
footer .text-center {
  padding-top: 10px;
  
}

/*ナビバー*/
.navbar {
  background-color: #345281;
  font-size: 14px;
  color: #ffffff;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse.navbar-inverse .navbar-toggle:focus, .navbar-inverse, .navbar-inverse .navbar-toggle:hover  {
  background-color: #345281;
}
.navbar-inverse .navbar-toggle {
  background-color: #345281;
  border-color: #345281;
}
.navbar-brand {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}


/*お題*/
.topic {
  margin-top: 25px;
}
.topic-content {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}
.topic-content a {
  font-size: 22px;
  text-decoration: none;
  color: #000000;
}
.topic-content:hover {
  background-color: #FBFBFD;
  cursor: pointer;
}

.media-left {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}
.media-left p {
  width: 70px;
  margin-top: 10px;
}
.media-body {
  padding-top: 5px;
}
.topic-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.media-right {
  padding: 10px;
}
.post-button {
  margin-top: 90%;
}

/*ポスト*/
.post {
  padding-right: 10px;
  padding-left: 10px;
}
.post {
  background-color: #F0F8FF;
  border-radius: 16px;
  border-color: #F0F8FF;
}
.post-image img {
  width: 100%;
  height: 354px;
  object-fit: contain;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.created-date {
  text-align: left;
  font-size: 12px;
}

/*なるほどね　違うね　ボタン*/
.post-buttons {
  display: inline-block;
  float: right;
  margin-bottom: 5px;
}
.post-buttons form{
  display: inline-block;
  font-size: 0;
}
.post-buttons .btn{
  height: 25px;
  width: 80px;
  border: none;
  padding: 4px 2px 2px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border-radius: 0;
  border-radius: 0.3em 0 0 0.3em / 0.3em 0 0 0.3em;
  display: inline-block;
  
}
.delete-button {
  float: left;
  display: inline-block;
}
.delete-button a {
  height: 25px;
  padding-top: 3px;
}
.agree-on, .agree-on:hover, .agree-count {
  background-color: #1885f2;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}
.agree-off, .agree-off:hover {
  background-color: #ddd;
  border-color: #e60b2f;
  font-size: 13px;
  font-weight: bold;
}

.disagree-on, .disagree-on:hover, .disagree-count {
  background-color: #C46565;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}
.disagree-off, .disagree-off:hover {
  background-color: #ddd;
  font-size: 13px;
  font-weight: bold;
}
.count {
  height: 25px;
  width: 20px;
  border-left: 1px solid #000000;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-top: 4px;
  border-radius: 0 0.3em 0.3em 0 / 0 0.3em 0.3em 0;
  display: inline-block;
}


/*プロフィールページ*/
.profile {
  text-align: center;
  margin-top: 15px;
}
.edit-image {
  margin-bottom: 5px;
}
.profile-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
.topic-create-btn {
  height: 32px;
  padding-top: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.form-group label {
  display: inline;
  margin-left: 3px;
}
.form-group input {
  margin-top: 3px;
}
.form-group div {
  display: inline;
  text-align: center;
  margin-bottom: 5px;
}

.panel-container {
  margin-top: 10px;
}
.panel-container .panel {
  border-color: #345281;
}
.panel-container .panel-heading {
  padding: 5px;
  background-color: #345281;
}



/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: none;
  width: 40px;
  height: 40px;

  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;

  /* 透明度をふわっと変える演出 */
  transition: opacity 2.5s;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
  text-decoration: none;
}

/* 後ろを覆う黒い幕 */
.overlay {
  /* 画面いっぱいに表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* 他のコンテンツより上のレイヤーに表示 */
  z-index: 10000;

  /* 初期状態では非表示 */
  display: none;

  /* 透けた黒色にする */
  background-color:rgba(0, 0, 0, 0.8);

  /* マウスカーソルを手の形にする */
  cursor: pointer;
}

/* 拡大写真の表示エリア */
.popup-content {
  /* 60x60で左右中央に表示する */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;

  /* 枠をつける */
  /*padding: 4px; */
  background-color: #ccc;
}